NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-please
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lead_app
SYSTEM_DEFAULT_HMAC_SECRET=change-me-please
EMAIL_FROM=no-reply@example.com
